<?xml version="1.0"?>
<!--  /**
    * Copyright © Magento, Inc. All rights reserved.
 */-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="MagentoEse_ThemeCustomizer::skins_list"
             translate="title"
             resource="MagentoEse_ThemeCustomizer::skins"
             title="Theme Customizer"
             action="magentoese_themecustomizer_skins/index/index"
             module="MagentoEse_ThemeCustomizer"
             sortOrder="100"
             parent="MagentoEse_SCTools::sctoolsmenu"
             dependsOnModule="Magento_Backend"/>

    </menu>
</config>