<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
  <system>
    <tab id="wysiwgdesigner" translate="label">
      <label>WYSIWG Designer</label>
    </tab>
    <section id="designsettings" translate="label" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
      <label>Design Settings</label>
      <tab>wysiwgdesigner</tab>
      <resource>EEsc_Wysiwygdesign::system_config</resource>
      <group id="assets" translate="label" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
        <label>Assets</label>
        <field id="logoimage" translate="label comment" sortOrder="1" type="image" showInDefault="1" showInWebsite="1" showInStore="1">
          <label>Logo</label>
          <comment>Allowed file types: jpeg, gif, png. Max : 300x90</comment>
          <backend_model>Magento\Config\Model\Config\Backend\Image</backend_model>
          <base_url type="media" scope_info="1">theme</base_url>
          <upload_dir config="system/filesystem/media" scope_info="1">theme</upload_dir>
        </field>
      </group>
      <group id="themesettings" translate="label" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
        <label>Theme Settings</label>
        <field id="topbarcolor" translate="label" showInDefault="1" showInWebsite="1" showInStore="1">
          <label>Top Bar Color</label>
          <comment>See userguide for visual reference</comment>
          <frontend_model>EEsc\Wysiwygdesign\Block\Adminhtml\System\Config\Form\Field\Colorpicker</frontend_model>
        </field>
        <field id="primaryfontcolor" translate="label" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
          <label>Primary Font Color</label>
          <comment>See userguide for visual reference</comment>
          <frontend_model>EEsc\Wysiwygdesign\Block\Adminhtml\System\Config\Form\Field\Colorpicker</frontend_model>
        </field>
        <field id="primarylinkcolor" translate="label" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
          <label>Primary Link Color</label>
          <comment>See userguide for visual reference</comment>
          <frontend_model>EEsc\Wysiwygdesign\Block\Adminhtml\System\Config\Form\Field\Colorpicker</frontend_model>
        </field>
        <field id="primarylinkhovercolor" translate="label" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
          <label>Primary Link Hover Color</label>
          <comment>See userguide for visual reference</comment>
          <frontend_model>EEsc\Wysiwygdesign\Block\Adminhtml\System\Config\Form\Field\Colorpicker</frontend_model>
        </field>
        <field id="navbackgroundcolor" translate="label" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
          <label>Navigation Background Color</label>
          <comment>See userguide for visual reference</comment>
          <frontend_model>EEsc\Wysiwygdesign\Block\Adminhtml\System\Config\Form\Field\Colorpicker</frontend_model>
        </field>
        <field id="navlinkcolor" translate="label" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
          <label>Navigation Link Color</label>
          <comment>See userguide for visual reference</comment>
          <frontend_model>EEsc\Wysiwygdesign\Block\Adminhtml\System\Config\Form\Field\Colorpicker</frontend_model>
        </field>
        <field id="navlinkhovercolor" translate="label" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="1">
          <label>Navigation Link Hover Color</label>
          <comment>See userguide for visual reference</comment>
          <frontend_model>EEsc\Wysiwygdesign\Block\Adminhtml\System\Config\Form\Field\Colorpicker</frontend_model>
        </field>
        <field id="navdropdownbackgroundcolor" translate="label" sortOrder="7" showInDefault="1" showInWebsite="1" showInStore="1">
          <label>Navigation Dropdown Background Color</label>
          <comment>See userguide for visual reference</comment>
          <frontend_model>EEsc\Wysiwygdesign\Block\Adminhtml\System\Config\Form\Field\Colorpicker</frontend_model>
        </field>
        <field id="navdropdownlinkcolor" translate="label" sortOrder="8" showInDefault="1" showInWebsite="1" showInStore="1">
          <label>Navigation Dropdown Link Color</label>
          <comment>See userguide for visual reference</comment>
          <frontend_model>EEsc\Wysiwygdesign\Block\Adminhtml\System\Config\Form\Field\Colorpicker</frontend_model>
        </field>
        <field id="navdropdownlinkhovercolor" translate="label" sortOrder="9" showInDefault="1" showInWebsite="1" showInStore="1">
          <label>Navigation Drodown Link Hover Color</label>
          <comment>See userguide for visual reference</comment>
          <frontend_model>EEsc\Wysiwygdesign\Block\Adminhtml\System\Config\Form\Field\Colorpicker</frontend_model>
        </field>
        <field id="primaryheadingcolor" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
          <label>Primary Heading Color</label>
          <comment>See userguide for visual reference</comment>
          <frontend_model>EEsc\Wysiwygdesign\Block\Adminhtml\System\Config\Form\Field\Colorpicker</frontend_model>
        </field>
        <field id="primarypricecolor" translate="label" sortOrder="11" showInDefault="1" showInWebsite="1" showInStore="1">
          <label>Primary Price Color</label>
          <comment>See userguide for visual reference</comment>
          <frontend_model>EEsc\Wysiwygdesign\Block\Adminhtml\System\Config\Form\Field\Colorpicker</frontend_model>
        </field>
        <field id="backgroundcolor" translate="label" sortOrder="12" showInDefault="1" showInWebsite="1" showInStore="1">
          <label>Background Color</label>
          <comment>See userguide for visual reference</comment>
          <frontend_model>EEsc\Wysiwygdesign\Block\Adminhtml\System\Config\Form\Field\Colorpicker</frontend_model>
        </field>
        <field id="categorygridbackgroundcolor" translate="label" sortOrder="13" showInDefault="1" showInWebsite="1" showInStore="1">
          <label>Category Grid Background Color</label>
          <comment>See userguide for visual reference</comment>
          <frontend_model>EEsc\Wysiwygdesign\Block\Adminhtml\System\Config\Form\Field\Colorpicker</frontend_model>
        </field>
        <field id="productviewbackgroundcolor" translate="label" sortOrder="14" showInDefault="1" showInWebsite="1" showInStore="1">
          <label>Product View Background Color</label>
          <comment>See userguide for visual reference</comment>
          <frontend_model>EEsc\Wysiwygdesign\Block\Adminhtml\System\Config\Form\Field\Colorpicker</frontend_model>
        </field>
        <field id="blockcontentbackgroundcolor" translate="label" sortOrder="14" showInDefault="1" showInWebsite="1" showInStore="1">
          <label>Block Content Background Color</label>
          <comment>See userguide for visual reference</comment>
          <frontend_model>EEsc\Wysiwygdesign\Block\Adminhtml\System\Config\Form\Field\Colorpicker</frontend_model>
        </field>
        <field id="buttonbackgroundcolor" translate="label" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1">
          <label>Button Background Color</label>
          <comment>See userguide for visual reference</comment>
          <frontend_model>EEsc\Wysiwygdesign\Block\Adminhtml\System\Config\Form\Field\Colorpicker</frontend_model>
        </field>
        <field id="buttonlinkcolor" translate="label" sortOrder="16" showInDefault="1" showInWebsite="1" showInStore="1">
          <label>Button Link Color</label>
          <comment>See userguide for visual reference</comment>
          <frontend_model>EEsc\Wysiwygdesign\Block\Adminhtml\System\Config\Form\Field\Colorpicker</frontend_model>
        </field>
        <field id="buttonlinkhovercolor" translate="label" sortOrder="17" showInDefault="1" showInWebsite="1" showInStore="1">
          <label>Button Link HoverColor</label>
          <comment>See userguide for visual reference</comment>
          <frontend_model>EEsc\Wysiwygdesign\Block\Adminhtml\System\Config\Form\Field\Colorpicker</frontend_model>
        </field>
        <field id="additionalstyles" translate="label" sortOrder="18" type="textarea" showInDefault="1" showInWebsite="1" showInStore="1">
          <label>Additional CSS</label>
          <comment>Will be appended to very end of stylesheet, highest specificity.</comment>
        </field>
      </group>
    </section>
    <section id="updatedesign" translate="label" sortOrder="1" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
      <label>Apply/Remove Design</label>
      <tab>wysiwgdesigner</tab>
      <resource>EEsc_Wysiwygdesign::system_config</resource>
      <group id="apply" translate="label" sortOrder="1" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
        <label>Apply/Remove Design</label>
        <field id="clearcache" translate="label" sortOrder="6" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
          <label>Clear Cache After</label>
          <comment>Clears cache after apply/remove</comment>
          <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
        </field>
        <field id="generate" translate="label" sortOrder="20" type="button" showInDefault="1" showInWebsite="1" showInStore="1">
          <label>Apply Design</label>
          <frontend_model>EEsc\Wysiwygdesign\Block\Adminhtml\System\Config\Form\Apply</frontend_model>
        </field>
        <field id="destroy" translate="label" sortOrder="30" type="button" showInDefault="1" showInWebsite="1" showInStore="1">
          <label>Remove Design</label>
          <frontend_model>EEsc\Wysiwygdesign\Block\Adminhtml\System\Config\Form\Destroy</frontend_model>
        </field>
        <field id="restore" translate="label" sortOrder="50" type="button" showInDefault="1" showInWebsite="1" showInStore="1">
          <label>Restore Default Values</label>
          <frontend_model>EEsc\Wysiwygdesign\Block\Adminhtml\System\Config\Form\Restore</frontend_model>
        </field>
      </group>
    </section>
  </system>
</config>